@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "HelloWorld";
}
<h1>
    Hello World!
</h1>
<h2>
    副标题Here.
</h2>
<p>
    段落Here.
</p>
